/* ----------------------------------------------------------
project	--	Project Name 
author	--	Pitch (pitch.net.nz)
note	--	This css makes use of less http://lesscss.org/
---------------------------------------------------------- */


/* ----------------------------------------------------------
less css helpers and mixins
---------------------------------------------------------- */
// load our helper kit
@import "helper.less";

// rounded corners
.border-radius (@radius: 5px) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

// typekit styles just set sizing and add font
.typekit (@weight: 600, @size: 24px, @line-height: 32px) {
	font: @weight @size e('/') @line-height "Helvetica Neue", Arial, Helvetica, sans-serif;
}

// colours
@black: #000;
@white: #fff;


/* ----------------------------------------------------------
base styles start now
---------------------------------------------------------- */
html { }
body { }