/* ----------------------------------------------------------
sass mixins
---------------------------------------------------------- */
// typekit styles just set sizing and add font
@mixin typekit($weight: 600, $size: 24px, $line-height: 32px) {
	font: $weight #{$size}/#{$line-height} "Helvetica Neue", Arial, Helvetica, sans-serif;
}

// generic button style
@mixin button($from: #55c6f0, $to: #249ee3, $border: #1b93c6, $inset: #ace3f8, $text-shadow: #187bb8) {
	color: $white;
	margin: 10px 0;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	background: $from;
	border: 1px solid $border;
	padding: 7px 20px 7px 20px;
	text-shadow: 0 -1px 1px $text-shadow;
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -moz-linear-gradient(top, $from, $to);
	box-shadow: 0 1px 4px #c4c5c8, inset 0 1px 0 $inset;
}

	@mixin button-hover($from: #69bbe7, $to: #0477b4) {
		background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
		background: -moz-linear-gradient(top, $from, $to);
	}

	@mixin button-active($from: #1b93df, $to: #6ad1f3, $inset: #8bc7ef, $text-shadow: #0f6bb2, $color: #fff) {
		color: $color;
		text-shadow: 0 -1px 1px $text-shadow;
		box-shadow: 0 2px 1px #c4c5c8, inset 0 1px 3px $inset;
		background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
		background: -moz-linear-gradient(top, $from, $to);
	}

// retina ready background images
// background: url("logo.png") no-repeat; @include image-2x("logo2x.png", 100px, 25px);
@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		background-image: url($image);
		background-size: $width $height;
	}
}

// arrows you can pass it only the following direction keywords: up, down, left, right
// $include arrow(up, #333, 20ox);
@mixin arrow($direction, $color, $size) {
	display: inline-block;
	width: 0;
	height: 0;
	@if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	} @else if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	} @else if $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	}
}