/* ----------------------------------------------------------
sass placeholders
---------------------------------------------------------- */

// clear fix
%clear:before, .clear:after { content: " "; display: table; }
%clear:after { clear: both; }
%clear { *zoom: 1; }

// image replacement class
%ir {
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}