/* ----------------------------------------------------------
sass placeholders
---------------------------------------------------------- */

// clear fix
%clear:before, .clear:after { content: " "; display: table; }
%clear:after { clear: both; }
%clear { *zoom: 1; }

// image replacement class
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;

	&:before {
		content: "";
		width: 0;
		height: 150%;
		display: block;
	}
}